html
	head
		title= title
	body
		link(rel='stylesheet', href='/stylesheets/style.css')
		#login-container
		form( method="post")#login-form.well.span4
			h1 Welcome
			p.subheading Please Login To Your Account
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| Sign in
			div.clear-fix
		
			

	