
//extends layout

html
	head
		title Page Not Found

	body

		img#github-banner(style="position:fixed; left: 35%; top: 35%; margin-top: -50px; margin-left: -100px;", src="http://www.ostraining.com/cdn/images/404.png", alt="Page Not Found")
