
//extends layout

html
	head
		title Page Not Found
	
	body

		img#github-banner(style="position:relative; left: 320px; top: 250px;", src="http://www.ostraining.com/cdn/images/404.png", alt="Page Not Found")


//block content
//	#four04 I'm sorry, the page or resource you are searching for is currently unavailable.